.container {
    padding: 30px;
    height: fit-content;
    height: 50px;
}

.logoContainer {
    float: left;
}

.leftContainer {
    float: right;
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-right: 50;
}

.leftContainer button {
    margin-right: 50px;
    border-radius: 29px;
    border: 0;
    height: 50px;
    width: 100px;
}

.icons {
    display: flex;
    margin-right: 100px;
}

.icons div {
    text-align: center;
    margin-left: 30px;
}

.icons img {
    height: 25px;
    width: 25px;
}

#login {
    background-color: #3366ff;
    color: white;
}