body{
    background-image: url(../images/bg2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

.home {
    margin-top: 150px;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.home h2 {
    color: white;
}

.home h5{
    color: white;
    text-align: justify;
}

.home img {
    height: 500px;
    width: 50%;
    border-radius: 3%;
}

.container {
    padding: 30px;
    height: fit-content;
    height: 50px;
    background-color: white;
    position: relative;
}

.logoContainer {
    float: left;
}

.logoContainer img{
    
  width: 150px;
}
.leftContainer {
    float: right;
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-right: 50;
}

.leftContainer button {
    margin-right: 50px;
    border-radius: 29px;
    border: 0;
    height: 50px;
    width: 100px;
}

.icons {
    display: flex;
    margin-right: 100px;
}

.icons div {
    text-align: center;
    margin-left: 30px;
}

.icons img {
    height: 25px;
    width: 25px;
}

#login {
    background-color: #3366ff;
    color: white;
}

.cardContainer {
    background-color: white;
    position: relative;
    left: 10%;
    height: 200px;
    width: 70vw;
    margin: 50px;
    padding: 10px;
    border-radius: 20px;
    outline: 1px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-items: center;
    align-items: center;    
    display: grid; 
    grid-auto-flow: column; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "title . area"
      "description description money"
      "duration . available";
}

.title {
    grid-area: title;
    width: 100%;
    text-align: left;
    margin-left: 50px;
    font-size: 25px;
}

.area{
    grid-area: area;
    width: 100%;
    text-align: right;
    margin-right: 25px;
    text-transform: uppercase;
    font-weight: bold;
    color: blue;
}

.description {
    grid-area: description;
    width: 100%;
    text-align: left;
    margin-left: 50px;
}

.duration {
    grid-area: duration;
    width: 100%;
    text-align: left;
    margin-left: 50px;
    font-weight: bold;
}

.money {
    grid-area: money;
    width: 100%;
    text-align: right;
    font-size: 20px;
}

.available{
    grid-area: available;
    width: 100%;
    text-align: right;
    font-weight: bold;
}

.about-section h1{
    text-align: center;
    color: white;
}

main section h1{
    color: white;
    text-align: center;
}

main p{
    color: white;
}

.box{
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 15px;
    margin: 0 auto;
    margin-top: 5%;
}

.team-card{
    position: relative;
    width: 300px;
    height: 350px;
    background: #fff;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow:0 2px 10px rgba(0,0,0,.2);
  }
  .team-card:before,
  .team-card:after
  {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #fff;
    transition: 0.5s;
    z-index:-1;
  }

  team-card:hover:before{
    transform: rotate(20deg);
    box-shadow: 0 2px 20px rgba(0,0,0,.2);
    }
    .team-card:hover:after{
    transform: rotate(10deg);
    box-shadow: 0 2px 20px rgba(0,0,0,.2);
    }
    .team-card .imgBx{
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: #222;
    transition: 0.5s;
    z-index: 1;
    }

    .team-card:hover .imgBx
  {
    bottom: 80px;
  }

  .team-card .imgBx img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .team-card .details{
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 10px;
      height: 60px;
      text-align: center;
  }

  .team-card .details h2{
   margin: 0;
   padding: 0;
   font-weight: 600;
   font-size: 20px;
   color: #3366ff;
   text-transform: uppercase;
  } 

  .team-card .details h2 span{
  font-weight: 500;
  font-size: 16px;
  color: #777;
  display: block;
  margin-top: 5px;
   }

.section-team{
    margin-bottom: 10%;
    
}

.section-about{
    width: 100%;
    padding: 78px 0px;
}

.section-about img{
    height: auto;
    width: 500px;
}

.about-text{
    width: 550px;
}

.main{
    width: 1200px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1{
    color: white;
    font-size: 50px;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 20px;
}

.about-text h5{
    color: white;
    font-size: 25px;
    margin-bottom: 25px;
    letter-spacing: 2px;
    text-align: center;
}

.about-text p{
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    text-align: justify;
}

.btnJoin{
    background: #3366ff;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

.btnJoin:hover{
    background: transparent;
    border:  2px solid #3366ff;
}

.section-team  h1{
    font-size: 50px;
}

.home-text{
    width: 100%;
}

.home-text h1{
    color: white;
    font-size: 50px;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 20px;
}

.home-text p{
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    text-align: center;
}

.homecards-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin-top: 100px;
}

.homecards-container .home-cards{
    position: relative;
    cursor: pointer;
    justify-content: space-between;
}

.homecards-container .home-cards .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.homecards-container .home-cards .face.face1{
    position: relative;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.homecards-container .home-cards:hover .face.face1{
    background: #3e588f;
    transform: translateY(0);
}

.homecards-container .home-cards .face.face1 .home-content{
    opacity: 0.2;
    transition: 0.5s;
}

.homecards-container .home-cards:hover .face.face1 .home-content{
    opacity: 1;
}

.homecards-container .home-cards .face.face1 .home-content img{
    max-width: 60px;
    max-height: 60px;
}

.homecards-container .home-cards .face.face1 .home-content h3{
    margin: 10px 0 0;
    padding: 0;
    color: black;
    text-align: center;
    font-size: 1.5em;
}

.homecards-container .home-cards:hover .face.face1 .home-content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.homecards-container .home-cards .face.face2{
    position: relative;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.homecards-container .home-cards:hover .face.face2{
    transform: translateY(0);
}

.homecards-container .home-cards .face.face2 .home-content p{
    margin: 0;
    padding: 0;
    color: black;
}