body {
    min-height: 100vh;
    margin: 0;
}

main {
    background-image: url(bg.svg);
    /* background-repeat: no-repeat; */
    min-height: calc(100vh - 90px);
    margin: 0;
    padding-top: 100px;
}

.white-text {
    color: white;
}

.jobContainer {
    margin-bottom: 20px;
    border-style: outset;
    border-radius: 20px;
    padding: 15px;
}

.vagas { 
    border-style: none;
}

.navbar-brand img{
    width: 150px;
}

.nav-item img{
    width: 50px;
}

.comparar-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid rgb(128, 120, 120);
    background-color: rgb(175, 175, 175);
    padding: 0.5px;
    z-index: 9999;
}
