.cardContainer {
    position: relative;
    left: 5%;
    display: grid;
    height: 200px;
    width: 70vw;
    margin: 50px;
    /* padding: 50px; */
    border: 2px;
    border-style: outset;
    border-color: darkgray;
    border-radius: 10px;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: 1fr 2fr 0.5fr 0.5fr;
    gap: 25px 0px;
    grid-auto-flow: row;
    justify-items: center;
    align-items: center;
    grid-template-areas:
        "title . type img"
        "description description description img"
        "duration . money img"
        "applyBtn . available img";
        
}

.imgContainer {
    grid-area: img;
    width: 100%;
    height: 100%;
}
.imgContainer img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.title {
    grid-area: title;
    width: 100%;
    text-align: left;
    margin-left: 50px;
}

.type {
    grid-area: type;
}

.description {
    grid-area: description;
    width: 100%;
    text-align: left;
    margin-left: 50px;
}

.duration {
    grid-area: duration;
    width: 100%;
    text-align: left;
    margin-left: 50px;
}

.money {
    grid-area: money;

}

.applyBtn {
    grid-area: applyBtn;
    width: 100%;
    text-align: left;
    margin-left: 50px;
}

.applyBtn button {
    border-radius: 29px;
    border: 0;
    height: 25px;
    width: 150px;
    background-color: #3366ff;
    color: white;
    padding: 0px;
}

.applyBtn img {
    margin-top: 3px;
}

.applyBtn span {
    justify-self: center;
    position: relative;
    top: -15%;
    margin-right: 20px;
}

.available {
    grid-area: available;
}