body{
    background-image: url(../images/bg.svg);
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

.home {
    margin-top: 150px;
    display: flex;
}

.home div {
    padding: 50px;
}

.home h2 {
    color: white;
}

.home h5{
    color: white;
    text-align: justify;
}

.home img {
    height: 500px;
    width: 50%;
    border-radius: 3%;
}

.container {
    padding: 30px;
    height: fit-content;
    height: 50px;
    background-color: white;
    position: relative;
}

.logoContainer {
    float: left;
}

.logoContainer img{
    
  width: 150px;
}
.leftContainer {
    float: right;
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-right: 50;
}

.leftContainer button {
    margin-right: 50px;
    border-radius: 29px;
    border: 0;
    height: 50px;
    width: 100px;
}

.icons {
    display: flex;
    margin-right: 100px;
}

.icons div {
    text-align: center;
    margin-left: 30px;
}

.icons img {
    height: 25px;
    width: 25px;
}

#login {
    background-color: #3366ff;
    color: white;
}

.cardContainer {
    background-color: white;
    position: relative;
    left: 10%;
    height: 200px;
    width: 70vw;
    margin: 50px;
    padding: 10px;
    border-radius: 20px;
    outline: 1px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-items: center;
    align-items: center;    
    display: grid; 
    grid-auto-flow: column; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "title . area"
      "description description money"
      "duration . available";
}

.title {
    grid-area: title;
    width: 100%;
    text-align: left;
    margin-left: 50px;
    font-size: 25px;
}

.area{
    grid-area: area;
    width: 100%;
    text-align: right;
    margin-right: 25px;
    text-transform: uppercase;
    font-weight: bold;
    color: blue;
}

.description {
    grid-area: description;
    width: 100%;
    text-align: left;
    margin-left: 50px;
}

.duration {
    grid-area: duration;
    width: 100%;
    text-align: left;
    margin-left: 50px;
    font-weight: bold;
}

.money {
    grid-area: money;
    width: 100%;
    text-align: right;
    font-size: 20px;
}

.available{
    grid-area: available;
    width: 100%;
    text-align: right;
    font-weight: bold;
}

.about-section h1{
    text-align: center;
    color: white;
}

